<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Aster Sanad Hospital </title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/AsterSanadHospital.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/js/s1.js"></script>
   

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary" id="mainNav">
        <div class="container">

            <p>
                <a href="/Home/Index" style="text-decoration:none">
                    <img class="img-fluid img-responsive" src="~/images/ppp.png" style="height:50px; width:400px;" />
                </a>
            </p>

            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" style="position: relative" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded lang-content" data-lang-english="Home" data-lang-arabic="الرئيسية" href="/Home/Index">Home</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded lang-content" data-lang-english="About" data-lang-arabic="حول المستشفى" href="/Home/About">About</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded lang-content" data-lang-english="Patient Guide" data-lang-arabic="دليل المريض" href="/Home/Patient_Guide">Patient Guide</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded lang-content" data-lang-english="Patient Rights" data-lang-arabic="حقوق المريض" href="/Home/Patient_Rights">Patient Rights</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded lang-content" data-lang-english="Health Education" data-lang-arabic="التثقيف الصحي" href="/Home/Health_Education">Health Education</a></li>
                </ul>
            </div>

        <div class="languages-list" style="position:relative; bottom:1px; display:table-row">
            <button id="en" type="button" data-lang="english" class="btn-sm btn-light text-white" style="width: 40px; border: 3px solid #00a883;background-color:#1c4288; font-size:x-small ">EN</button>
            <button id="ar" type="button" data-lang="arabic" class="btn-sm btn-light text-white " style="width: 40px; border: 3px solid #00a883; background-color: #1c4288; font-size: x-small">AR</button>
            </div>
        </div>
    </nav>
    @RenderBody()

    <!-- Footer-->
                    <footer class="footer text-center">
                        <!-- Footer Social Icons-->
                        <div>
                            <h4 class="text-uppercase mb-4 lang-content" data-lang-english="FOLLOW US" data-lang-arabic="تابعنا">FOLLOW US</h4>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/astersanad"><i class="fab fa-fw fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/astersanad"><i class="fab fa-fw fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/aster-sanad-hospital-278056121/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                            <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/channel/UC9iZYdbnwdWP_FS1zUhwdxg"><i class="fab fa-fw fa-youtube"></i></a>
                        </div>

                    </footer>
                    <!-- Copyright Section-->
                    <div class="copyright py-3 text-center text-white">
                        <div class="container lang-content" style="font-size:small" data-lang-english="Aster Sanad Hospital – Copyright &copy; @DateTime.Now.Year Rights Reserved" data-lang-arabic="مستشفى أستر سند  – Copyright &copy; @DateTime.Now.Year Rights Reserved"><small>Aster Sanad Hospital – Copyright &copy; @DateTime.Now.Year Rights Reserved</small></div>
                    </div>
</body>
</html>
