@{
    ViewBag.Title = "About";
}

<div class="shadow border-0 m-5">
        <div class="container">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-1">
                        <div class="col mb-5 h-100">
                            <h2 class="h5 lang-content" data-lang-english="Brand Promise <br />We’ll Treat you Well" data-lang-arabic="وعد علامتنا<br /> سوف نعتني بك جيدًا" id="title" style="color: #00a883; text-align: center">Brand Promise <br />"We’ll Treat you Well"</h2>
                            <p class="mb-0 lang-content" style="text-align: center" data-lang-english="We live by this promise that sums up what we do and why we exist. This is our guiding philosophy in our interactions with patients, doctors, employees and society at large." data-lang-arabic=" نحن نعيش بهذا الوعد الذي يلخص ما نفعله وسبب وجودنا. هذه هي فلسفتنا التوجيهية في تفاعلنا مع المرضى والأطباء والموظفين والمجتمع ككل.">
                                We live by this promise that sums up what we do and why we exist. This is our guiding philosophy in our interactions with patients, doctors, employees and society at large.
                            </p>
                        </div>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-md-2 body-content">
                        <div class="col mb-5 h-100" style="text-align: center">
                            <h2 class="h5 lang-content" data-lang-english="Vision" data-lang-arabic="رؤيتنا" style="color: #00a883">Vision</h2>
                            <p class="mb-0 lang-content" data-lang-english="To be the provider of choice in Saudi Arabia." data-lang-arabic="أن نكون المزود المفضل في المملكة العربية السعودية .">To be the provider of choice in Saudi Arabia. </p>
                        </div>
                        <div class="col mb-5 h-100" style="text-align: center">
                            <h2 class="h5 lang-content" data-lang-english="Mission" data-lang-arabic="مهمتنا" style="color: #00a883"> Mission</h2>
                            <p class="mb-0 lang-content" data-lang-english="To provide high quality, cost-effective care that delivers the best value to the people we serve in an environment of caring in association with international medical best practices." data-lang-arabic="لتوفير رعاية عالية الجودة وفعالة من حيث التكلفة توفير أفضل قيمة للأشخاص الذين نخدمهم في بيئة من الرعاية بالاشتراك مع أفضل الممارسات الطبية الدولية.">
                                To provide high quality, cost-effective care that delivers the best value to the people we serve in an environment of caring in association with international medical best practices.
                            </p>
                        </div>
                    </div>
                        <div class="row gx-5 row-cols-1 row-cols-md-1">
                            <div class="col mb-5 h-100" style="text-align: center">
                                <h2 class="h5 bg-gradient lang-content" data-lang-english="Values" data-lang-arabic="قيمنا" style="color: #00a883">Values</h2>
                                <p class="mb-0 lang-content" data-lang-english="We, at Aster sanad Healthcare, abide by a core set of values that guide our organisational behaviour and decision making, and that create the unique ethos that is imbibed in every Asterian." data-lang-arabic="<br />
                                     اﻟﺘﻤﻴﺰ : ﺗﺠﺎوز اﻟﻤﻌﺎﻳﻴﺮ اﻟﺤﺎﻟﻴﺔ ﺑﺎﺳﺘﻤﺮار ﻋﻦ ﻃﺮﻳﻖ ﺗﺤﺪي ﻣﺴﺘﻤﺮ ﻟﻘﺪرﺗﻨﺎ وﻣﻬﺎراﺗﻨﺎ ﻟﻨﻘﻞ اﻟﻤﺆﺳﺴﺔ إﻟﻰ ﻣﺴﺘﻮﻳﺎت أﻋﻠى<br />
                                     النزاهة : اﻟﻘﻴﺎم ﺑﺎﻟﺸﻲء اﻟﺼﺤﻴﺢ دون أي  ﺗﻨﺎزﻻت وﺗﺒﻨﻲ أﻓﻀﻞ ﻣﺴﺘﻮى ﻣﻦ ﺣﻴﺚ اﻟﺴﻠﻮك .<br />
                                     التعاطف :دﻋﻢ اﻟﺘﻌﺎﻃﻒ واﻟﺮﻋﺎﻳﺔ<br />
                                     الاحترام : ﻣﻌﺎﻣﻠﺔ اﻟﻨﺎس ﺑﺄﻓﻀﻞ ﺳﻠﻮك ﺑﺘﻘﺪﻳﺮ ﻣﺴﺎﻫﻤﺎﺗﻬﻢ وﺗﻌﺰﻳزًا  ﻟﻠﺜﻘﺎﻓﺔ ﻣﻤﺎً  ﻳﺴﻤﺢ ﻟﻜﻞ ﻓﺮد ﺑﺎﻻرﺗﻘﺎء إﻟﻰ أﻓﻀﻞ إﻣﻜﺎﻧﺎﺗﻪ .<br />
                                    الشغف:  اﻟﻤﻀﻲ ﻓﻲ ﺑﺬل ﺟﻬﻮد ﺧﺎﺻﺔ ﻋﻦ ﻃﻴﺐ ﺧﺎﻃﺮ، ﻣﻊ ﺷﻌﻮر ﻛﺎﻣﻞ  ﺑﺎﻻﻧﺘﻤﺎء ﻣﻊ إﺿﺎﻓﺔ ﻗﻴﻤﺔ لأﺻﺤﺎب اﻟﻤﺼﻠﺤﺔ ﻟﺪﻳﻨﺎ . <br />
                                    الوحدة : ﺗﺴﺨﻴﺮ ﻗﻮة اﻟﺘﺂزر وﻣﺸﺎرﻛﺔ اﻟﻨﺎس ﻓﻲ الأداء واﻟﻨﺘﺎﺋﺞ اﻟﻤﺘﺴﺎرعة ."</p>
                            </div>
                        </div>
                        
                    </div>
            </div>

        </div>

   
</div>