@{
    ViewBag.Title = "Health_Education";
}


<div class="px-5 my-5">
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">
                <h2 class="fw-bolder lang-content" data-lang-english="" data-lang-arabic="" id="title">Health Education</h2>
                <p class="lead fw-normal text-muted mb-5"><br /></p>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-lg-4 mb-5">
            <div class="h-100 shadow border-0">
                <img src="~/images/blood-donation.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark"><h5 class="card-title mb-3 lang-content" data-lang-english="Blood Donation" data-lang-arabic="التبرع بالدم">Blood Donation</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Blood donation is a voluntary procedure that can help save the lives of others. There are several types of blood donation, which help meet different medical needs." data-lang-arabic="هو إجراء طبي تطوعي يتم بنقل الدم من شخص سليم معافى إلى شخص مريض يحتاج للدم، وهذا الإجراء يحتاج إليه الملايين من الناس كل عام؛ يُعطى في حالات عديدة .">Blood donation is a voluntary procedure that can help save the lives of others. There are several types of blood donation, which help meet different medical needs.</p>
                </div>
                <div class=" p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>

                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/blood donation E.pdf" download="Blood Donation-en" style="">read more</a>


                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/blood donation-ar.pdf" download="Blood Donation-ar" style="">read more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="h-100 shadow border-0">
                <img src="~/images/spray.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="Media" data-lang-arabic="وسائط">Media</div>
                    <a class="text-decoration-none link-dark"><h5 class="card-title mb-3 lang-content" data-lang-english="Asthma" data-lang-arabic="الربو">Asthma</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Asthma is a chronic disease that affects the bronchial tubes, causing the airways to recurrent This triggernarrow and reducing the flow of air into and out of the lungs. asthma attacks of breathlessness and in the chest, accompanied by cough, phlegm." data-lang-arabic="الربو هو مرض تنفسي مزمن، يتسبب في التهاب الممرات التنفسية في الرئتين وتضيقها، مما يؤدى إلى نوبات متكررة من ضيق بالتنفس مع صوت صفير بالصدر مصحوب بالكحة والبلغم.">Asthma is a chronic disease that affects the bronchial tubes, causing the airways to recurrent This triggernarrow and reducing the flow of air into and out of the lungs. asthma attacks of breathlessness and in the chest, accompanied by cough, phlegm.</p>
                </div>
                <div class="p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>

                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/asthma E.pdf" download="asthma" style="">read more</a>


                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/asthma E.pdf" download="asthma" style="">read more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="h-100 shadow border-0">
                <img src="~/images/cough.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark"><h5 class="card-title mb-3 lang-content" data-lang-english="Tonsillectomy" data-lang-arabic="تعليمات ما بعد عملية إزالة اللوزتين"> Tonsillectomy</h5></a>
                    <p class="card-text mb-0">
                        <ul class="lang-content" data-lang-english="<li>Drink plenty of liquids after surgery to prevent dehydration.</li><li>Take a medications as prescribed.</li><li>Strenuous activities such as running and bike riding should be avoided for two weeks after surgery. </li>"
                            data-lang-arabic="<li>الاكثار من السوائل لتساعد في انقباض الاوعية الدموية وتجنب الجفاف.</li><li>المحافظة على تناول الوجبات الخفيفة كل ٣-4 ساعات.</li><li>تناول الادوية الموصوفة حسب تعليمات الطبيب.</li>">
                        </ul>
                    </p>
                </div>
                <div class="p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3 " src="~/images/cloud-computing.png" alt="..." />
                            <div>
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Post Tonsillectomy E.pdf" download="tonsillectomy-en">read more</a>

                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Tonsillectomy-ar.pdf" download="tonsillectomy-ar">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/nn.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark stretched-link" href=""><h5 class="card-title mb-3 lang-content" data-lang-english="Nutrition During Pregnancy" data-lang-arabic="تغذية المرأة الحامل">Nutrition During Pregnancy</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Maintaining good nutrition and a healthy diet during pregnancy is critical for the health of the mother and unborn child. It is also good to remember that the quality of the food is more important than the quantity, so it is recommended to choose healthy foods with high nutritional value, and avoid unhealthy foods." data-lang-arabic="تعد التغذية الجيدة مهمة خلال فترة الحمل؛ للمحافظة على صحة الأم والجنين، حيث إن نوعية الطعام أهم من كميته، لذلك ينصح باختيار الأطعمة الصحية ذات القيمة الغذائية العالية، وتجنب المأكولات غير الصحية.">Maintaining good nutrition and a healthy diet during pregnancy is critical for the health of the mother and unborn child. It is also good to remember that the quality of the food is more important than the quantity, so it is recommended to choose healthy foods with high nutritional value, and avoid unhealthy foods.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Nutrition during Pregnancy- E.pdf" download="Nutrition During Pregnancy-en">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Nutrition during Pregnancy-ar.pdf" download="Nutrition During Pregnancy-ar">read more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/newb.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="Media" data-lang-arabic="وسائط">Media</div>
                    <a class="text-decoration-none link-dark stretched-link" href=""><h5 class="card-title mb-3 lang-content" data-lang-english="Breastfeeding" data-lang-arabic="الرضاعة الطبيعية">Breastfeeding</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Mother's milk is the best way for providing young infants with all nutrients for healthy growth. Breast milk adapts as your baby grows to meet its changing needs. Breastfeeding also has health benefits for Mother It lowers your risk of after birth uterine bleeding, Breast cancer and ovarian cancer and Osteoporosis" data-lang-arabic="حليب الأم هو الغذاء المثالي للطفل فهو يحتوي على جميع العناصر الغذائية التي يحتاجها الطفل خلال الأشهر الستة الأولى، يتكيف حليب الثدي مع نمو الطفل لتلبية احتياجاته المتغيرة، حيث تساعد الرضاعة الطبيعية على منع النزيف بعد الولادة و تقليل نسبة الإصابة بهشاشة العظام و سرطان الثدي والمبيض.">Mother's milk is the best way for providing young infants with all nutrients for healthy growth. Breast milk adapts as your baby grows to meet its changing needs. Breastfeeding also has health benefits for Mother It lowers your risk of after birth uterine bleeding, Breast cancer and ovarian cancer and Osteoporosis</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Breast Feeding E.pdf" download="Breastfeeding-en">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Breast Feeding-ar.pdf" download="Breastfeeding-ar">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/sss.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark stretched-link" href=""><h5 class="card-title mb-3 lang-content" data-lang-english="Wound care(Stitches)" data-lang-arabic="العناية بالجرح (الغرز الجراحية)">Wound care(Stitches)</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="General Guidelines:

                        · Keep the wound clean and dry

                        · Check wound and stitches every day for signs of infection.

                        · Wash your hands before you touch your wound.

                        · Follow up with your health care provider to make sure your wound is healing properly.

                        · Take a medications as prescribed" data-lang-arabic="تعليمات عامة :

· حافظ على جفاف و نظافة الجرح.

· فحص مكان الجرح والغرز يومياً لملاحظة التغيرات عليه.

· أغسل يديك قبل أن تلمس الجرح .

· المتابعة مع مقدم الرعاية الصحية للتأكد من إلتئام الجرح بشكل صحيح.

· تناول المسكنات الدوائية وفقاً لتوجيهات الطبيب .">
                        General Guidelines:

                        · Keep the wound clean and dry

                        · Check wound and stitches every day for signs of infection.

                        · Wash your hands before you touch your wound.

                        · Follow up with your health care provider to make sure your wound is healing properly.

                        · Take a medications as prescribed
                    </p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div >
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Wound care  E.pdf" download="Wound-care-en">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Wound care-ar.pdf" download="Wound-care-ar">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row gx-5">
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/nose.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark stretched-link" href=""><h5 class="card-title mb-3 lang-content" data-lang-english="Postoperative for intranasal (Septoplasty)" data-lang-arabic="عملية تعديل الحاجز الانفي">Postoperative for intranasal (Septoplasty)</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Instructions:<ul><li>Keep your head raised when you sleep. You might need to use an extra pillow</li><li>Don't blow your nose for several weeks.</li><li>Sneeze with your mouth open. </li><li>Avoid strenuous activities, such as aerobics and jogging, for up to five weeks to avoid potentially causing a nosebleed.</li></ul>"
                       data-lang-arabic="تعليمات:<ul><li>النوم على وسائد مرتفعة ورفع الرأس يقلل من التورم</li><li>تجنب النفخ في الأنف لعدة أسابيع.</li><li>عند العطس افتح فمك.</li><li>ارتد ملابس بأزرار من الأمام لا تسحب الملابس من فوق الرأس .</li></ul>">
                    </p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div >
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Septoplasty  E.pdf" download="Septoplasty-en">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Septoplasty-ar.pdf" download="Septoplasty-ar">read more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/woman.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="Media" data-lang-arabic="وسائط">Media</div>
                    <a class="text-decoration-none link-dark stretched-link" href=""><h5 class="card-title mb-3 lang-content" data-lang-english="Caesarean delivery" data-lang-arabic="العناية بعد الولادة القيصرية ">Caesarean delivery</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="You will be in hospital for a few days after your Caesarean delivery and once the effects of the anesthesia wear off, you are encouraged to drink plenty of fluids and to walk. This helps prevent blood clots. The health care team will take care of and monitor the wound site every day." data-lang-arabic="ﺳﺘﻈﻠﻴﻦ ﻓﻲ اﻟﻤﺴﺘﺸﻔﻰ ﻟﺒﻀﻌﺔ أﻳﺎم ﻋﻠﻰ ﺑﻌﺪ اﻟﻮﻻدة اﻟﻘﻴﺼﺮﻳﺔ وﻓﻮر ﺑﺪء زوال آﺛﺎر اﻟﺘﺨﺪﻳﺮ، ﻧﺤﺜﻚ ﻋﻠﻰ الاﻛﺜﺎر ﻣﻦ ﺷﺮب اﻟﺴﻮاﺋﻞ واﻟﻤﺸﻲ . ﻳﺴﺎﻋﺪ ذﻟﻚ ﻓﻲ اﻟﻮﻗﺎﻳﺔ ﻣﻦ ﺗﺠﻠﻂ اﻟﺪم. ﺳﻴﻘﻮم ﻓﺮﻳﻖ اﻟﺮﻋﺎﻳﺔ اﻟﺼﺤﻴﺔ يومياً ﺑﺎﻟﻌﻨﺎﻳﺔ وﻣﺮاﻗﺒﺔ ﻣﻜﺎن اﻟﺠﺮح.">An incentive spirometer is a device that will expand your lungs by helping you to breathe more deeply and fully. Use your incentive spirometer after your surgery and do your deep breathing and coughing exercises.<br /> This will help keep your lungs active throughout your recovery and prevent complications such as pneumonia.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Caesarean delivery-ar.pdf" download="Caesarean delivery">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Caesarean delivery-ar.pdf" download="Caesarean delivery">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/vaccine.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark"><h5 class="card-title mb-3 lang-content" data-lang-english="Use Insulin Injections Safely &amp; Effectively" data-lang-arabic="استخدام حقن الأنسولين بشكل آمن وفعال">Use Insulin Injections Safely &amp; Effectively</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Insulin considered an optional treatment for some Diabetics and it is injected in Fat layer under the skin in different parts in the body such as the abdomen, bottom of the upper arm, the top of the buttocks, hip and the outside of the thigh." data-lang-arabic="يُعد الإنسولين خياراً علاجياً حتمياً لبعض المُصابين بمرض السكري بنوعيه الأول والثاني ويتم حقنه في طبقة الدهون الواقعة تحت الجلد وفي أماكن عديدة من الجسم كالبطن , باطن أعلى الذراع , الجزء العلوي من المؤخرة أو الورك والجهة الخارجية من الفخذ.">Insulin considered an optional treatment for some Diabetics and it is injected in Fat layer under the skin in different parts in the body such as the abdomen, bottom of the upper arm, the top of the buttocks, hip and the outside of the thigh.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Insulin-Pen-Injecting-Diabetes E.pdf" download="insulin-en">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Insulin-Pen-Injecting-Diabetes-ar.pdf" download="insulin-ar">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row gx-5">
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/foot.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark"><h5 class="card-title mb-3 lang-content" data-lang-english="Foot Care For Diabetic Patient" data-lang-arabic="العناية بالقدمين لمريض السكري">Foot Care For Diabetic Patient</h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Instructions:<ul><li>Control the level of blood sugar.</li><li>Self-examination of the foot, by: Looking for scars of wounds, bruises, pressure areas, redness and nail problems. You can use the mirror during examination.</li><li>Touch each foot and the extent of its swelling.</li><li>Check the sensation on each foot.</li></ul>"
                       data-lang-arabic="تعليمات:<ul><li>التحكم بمستوى السكر بالدم.</li><li>الفحص الذاتي للقدم، وذلك عن طريق:</li><li>البحث عن آثار للجروح والكدمات ومناطق الضغط والاحمرار ومشاكل الأظافر، ويمكن استخدام المرآة عند الفحص.</li><li>التحقق من الإحساس في كل قدم.</li></ul>">
                    </p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/foot care E.pdf" download="foot-care-en">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/foot care-ar.pdf" download="foot-care-ar">read more</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
                <img src="~/images/pregnant.png" height="200" width="200" alt="..." />
                <div class="card-body p-4">
                    <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="News" data-lang-arabic="جديد">News</div>
                    <a class="text-decoration-none link-dark"><h5 class="card-title mb-3 lang-content" data-lang-english="natural delivery" data-lang-arabic="العناية بعد الولادة الطبيعية "></h5></a>
                    <p class="card-text mb-0 lang-content" data-lang-english="Avoid constipation through plenty of fluids and gradually increase the amount of fiber in the diet, as fruits, vegetables, legumes, beans, nuts and oats are good sources of fiber.<br/>
  Take the prescribed medications as instructed by the doctor." data-lang-arabic=" ﺗﺠﻨﺒﻲ اﻻﻣﺴﺎك ﻣﻦ ﺧﻼل اﻻﻛﺜﺎر ﻣﻦ اﻟﺴﻮاﺋﻞ و زﻳﺎدة ﻛﻤﻴﺔ الاﻟﻴﺎف ﻓﻲ اﻟﻨﻈﺎم اﻟﻐﺬاﺋﻲ ﺑﺸﻜﻞ ﺗﺪرﻳﺠﻲ،حيث ﺗﻌﺪ اﻟﻔﻮاﻛﻪ واﻟﺨﻀﺮوات واﻟﺒﻘﻮﻟﻴﺎت واﻟﻔﺎﺻﻮﻟﻴﺎ واﻟﻤﻜﺴﺮات واﻟﺸﻮﻓﺎن ﻣﺼﺎدر ﺟﻴﺪة للاﻟﻴﺎف <br/> ﺗﻨﺎول اﻻدوﻳﺔ اﻟﻤﻮﺻﻮﻓﺔ ﺣﺴﺐ ﺗﻌﻠﻴﻤﺎت اﻟﻄﺒﻴﺐ"></p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <div class="d-flex align-items-end justify-content-between">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-3" src="~/images/cloud-computing.png" alt="..." />
                            <div>
                                <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Natural delivery-ar.pdf" download="natural delivery">read more</a>
                                <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر" href="~/Files/Natural delivery-ar.pdf" download="natural delivery">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

 
</div>