
@{
    ViewBag.Title = "Health_EducationM";
}


<div class="shadow border-0 m-5 p-4">
    <section class="py-5 shadow border-3 ">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder lang-content" data-lang-english="" data-lang-arabic="" style="color:#00a883"></h2>
                <p class=" mb-5" style="color:#00a883; font-weight: bold;"></p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <a href="/Home/Things" style="text-decoration:none">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/qqq.png" alt="..." />
                            <h5 class="fw-bolder lang-content" data-lang-english="Obstetrics <br />and Gynecology" data-lang-arabic="النساء <br />والولادة"></h5>
                        </a>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <a href="/Home/visiting" style="text-decoration:none">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/visitor111.png" alt="..." />
                            <h5 class="fw-bolder lang-content" data-lang-english="Visiting<br /> Guidelines " data-lang-arabic="دليل <br /> الزيارة ">Visiting<br /> Guidelines </h5>
                        </a>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>

                <div class="col mb-5">
                    <div class="text-center">
                        <a href="/Home/telephone" style="text-decoration:none">
                            <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/phone-bookkk.png" alt="..." />
                            <h5 class="fw-bolder lang-content" data-lang-english="Telephone Directory" data-lang-arabic="دليل الهاتف">Telephone Directory</h5>
                        </a>
                        <div class="fst-italic text-muted"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>