
@{
    ViewBag.Title = "Patient_Guide";
}

<div class="shadow border-0 m-5 ">

    <div class="container">
        <div class="text-center">
            <h2 class="fw-bolder lang-content" data-lang-english="Patient Guide" data-lang-arabic="دليل المريض" style="color:#00a883">Patient Guide</h2>
            <p class=" mb-5" style="color:#00a883; font-weight: bold;"></p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <a href="/Home/Things" style="text-decoration:none">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/qqq.png" alt="..." />
                        <h5 class="fw-bolder lang-content" data-lang-english="Patient<br />Instruction" data-lang-arabic="ارشادات<br />المريض">Patient<br />Instruction</h5>
                    </a>
                    <div class="fst-italic text-muted"></div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <a href="/Home/visiting" style="text-decoration:none">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/visitor111.png" alt="..." />
                        <h5 class="fw-bolder lang-content" data-lang-english="Visiting<br /> Guidelines " data-lang-arabic="دليل <br /> الزيارة ">Visiting<br /> Guidelines </h5>
                    </a>
                    <div class="fst-italic text-muted"></div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="text-center">
                    <a href="/Home/telephone" style="text-decoration:none">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="~/images/phone-bookkk.png" alt="..." />
                        <h5 class="fw-bolder lang-content" data-lang-english="Telephone Directory" data-lang-arabic="دليل الهاتف">Telephone Directory</h5>
                    </a>
                    <div class="fst-italic text-muted"></div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div class="p-4">
        <h3 class=" lang-content" data-lang-english=" <br />ASTER Rounds<br />" data-lang-arabic=" <br />الرعاية المتناوبة بمستشفى أستر سند<br /> " style="color:#00a883">
            <br />
            ASTER Rounds <br />
        </h3>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <p class="p-3 lang-content" data-lang-english="As part of Aster’s promise we’ll treat you well, we are devoted to delivering outstanding nursing care that fulfills your needs. You will be visited by a nurse every hour during the day and every two hours at night to assess your needs. The hourly rounding includes but not limited to the following:<ul><li>Maintaining and respecting your privacy  </li><li>Assessing your well being </li><li>Inquiring if your comfort and needs are being met</li><li>Ensuring that all necessary items are within your reach such as<br /> a.Bedside table  b.Telephone  c.Water  d.Call bell  e.Personal items  f.Bed controls  g.Tissues  h.Waste bin</li><li>Inquiring about your elimination needs and assisting as required </li><li>Ensuring all alarms are set and operational </li><li>Adjusting your positioning</li><li>Checking the environment for any hazards</li><li>Practicing infection control measures such as hand hygiene </li><li>Reminding you to use the call bell if you need any assistance </li><li> Promoting your independence and dignity</li><li> Assuring you that you will be checked on again in about an hour (or two at night) </li></ul>"
               data-lang-arabic=" ﻛﺠﺰء ﻣﻦ ﺗﻌﻬﺪ ﻣﺴﺘﺸﻔﻰ أﺳﺘﺮ ﺳﻨﺪ، ﻧﻌﺘﻨﻲ ﺑﻚ دائماً ، ﻓﻨﺤﻦ ﻣﻠﺘﺰﻣﻮن ﺑﺘﻘﺪﻳﻢ رﻋﺎﻳﺔ ﺗﻤﺮﻳﻀﻴﺔ ﻣﺘﻤﻴﺰة ﺗﻠﺒﻲ اﺣﺘﻴﺎﺟﺎﺗﻚ. ﺣﻴﺚ ﻳﺘﻢ زﻳﺎرﺗﻚ ﺑﻮاﺳﻄﺔ ﻣﻤﺮض ﻛﻞ ﺳﺎﻋﺔ ﺧﻼل اﻟﻴﻮم وﻛﻞ ﺳﺎﻋﺘﻴﻦ ﻓﻲ اﻟﻠﻴﻞ ﻟﺘﻘﻴﻴﻢ اﺣﺘﻴﺎﺟﺎﺗﻚ. ﺗﺘﻀﻤﻦ اﻟﻤﻨﺎوﺑﺔ ﻛﻞ ﺳﺎﻋﺔ ﻋﻠﻰ ﺳﺒﻴﻞ اﻟﻤﺜﺎل  ﻻ اﻟﺤﺼﺮ :<ul><li>اﻟﺤﻔﺎظ واﺣﺘﺮام ﺧﺼﻮﺻﻴﺘﻚ . </li><li>ﺗﻘﻴﻴﻢ ﺣﺎﻟﺘﻚ . </li><li>اﻻﺳﺘﻔﺴﺎر ﻋﻤﺎ اذا ﻛﺎن ﻳﺘﻢ ﺗﻠﺒﻴﺔ اﺣﺘﻴﺎﺟﺎﺗﻚ .</li><li>   اﻟﺘﺄﻛﺪ ﻣﻦ أن ﺟﻤﻴﻊ اﻟﻌﻨﺎﺻﺮ اﻟﻀﺮورﻳﺔ ﻓﻲ ﻣﺘﻨﺎول ﻳﺪﻳﻚ ﻣﺜل :
                - ﻃﺎوﻟﺔ ﺳﺮﻳﺮ جانبية  - ﻫﺎﺗﻒ - ﻣﺎء  - ﺟﺮس أﺗﺼﺎل - أﻏﺮاض ﺷﺨﺼﻴﺔ - أدوات اﻟﺘﺤﻜﻢ ﺑﺎﻟﺴﺮﻳﺮ  - ﻣﻨﺎدﻳﻞ  - ﺳﻠﺔ ﻣﻬﻤﻼت.
            </li>
            <li>اﻻﺳﺘﻔﺴﺎر ﻋﻦ ﻗﻀﺎء اﺣﺘﻴﺎﺟﺎﺗﻚ واﻟﻤﺴﺎﻋﺪة ﻋﻨﺪ اﻟﻄﻠﺐ.</li>
            <li>اﻟﺘﺄﻛﺪ ﻣﻦ ﺿﺒﻂ  و ﺗﺸﻐﻴﻞ ﺟﻤﻴﻊ أﺟﻬﺰة اﻧﺬار. </li>
            <li>ﺗﻌﺪﻳﻞ اﻟﻮﺿﻌﻴﺔ .</li>
            <li>اﻟﺘﺤﻘﻖ ﻣﻦ اﻟﺒﻴﺌﺔ ﺣﻮل وﺟﻮد أي ﻣﺨﺎﻃﺮ.</li>
            <li>  ﻣﻤﺎرﺳﺔ ﺗﺪاﺑﻴﺮ ﻣﻜﺎﻓﺤﺔ اﻟﻌﺪوى ﻣﺜﻞ ﻧﻈﺎﻓﺔ اﻟﻴﺪﻳن . </li>
            <li>ﺗﺬﻛﻴﺮك ﺑﺎﺳﺘﺨﺪام ﺟﺮس اﻻﺗﺼﺎل إذا ﻛﻨﺖ ﺑﺤﺎﺟﺔ إﻟﻰ أي ﻣﺴﺎﻋﺪة. </li>
            <li> ﺗﻌﺰﻳﺰ ﻣﺴﺘﻮى اﺳﺘﻘﻼﻟﻚ وﻛﺮاﻣﺘﻚ.</li>
            <li> ﻃﻤﺄﻧﺘﻚ ﺑﺄﻧﻪ ﺳﻴﺘﻢ ﻓﺤﺼﻚ ﻣﺮة أﺧﺮى ﻓﻲ ﻏﻀﻮن ﺳﺎﻋﺔ (أو ﺳﺎﻋﺘﻴﻦ ﻓﻲ اﻟﻠﻴﻞ).</li>
            </ul> ">
            As part of Aster’s promise we’ll treat you well, we are devoted to delivering outstanding nursing care that fulfills your needs. You will be visited by a nurse every hour during the day and every two hours at night to assess your needs. The hourly rounding includes but not limited to the following:

           </p>
        </div>
        <div class="col-lg-8 col-xl-6">
            <div class="text-center">

                <p>
                    <img class="img-fluid" src="~/images/hand.png" style="border-radius:15%; display:inline-block" alt="..." />
                </p>
            </div>

        </div>
    </div>



</div>