
@{
    ViewBag.Title = "Patient_Rights";
}

<div class=" shadow border-0 m-5">
    <h3 class="p-4 lang-content" data-lang-english="<br /> Patient Rights &amp; Responsibility  <br />" data-lang-arabic="<br /> ﺣﻘﻮق اﻟﻤﺮﻳﺾ وﻣﺴﺆوﻟﻴﺎﺗﻪ <br />" style="color:mediumseagreen" >
        <br /> Patient Rights &amp; Responsibility  <br />
    </h3>
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="~/images/healthcare.png" alt="..." />
                </div>
                <div class="col-lg-6">
                    <!-- <h2 class="fw-bolder">Patient Rights</h2>-->
                    <p class="lead fw-normal text-muted mb-0 lang-content" data-lang-english=" We want to encourage you, as a patient at Aster Sanad Hospital,
                        to speak openly with your healthcare team, take part in your treatment choices,
                        and promote your own safety by being well informed and involved in your care,
                        we want you to know your rights as well as your responsibilities during your stay at our hospital.
                        We invite you and your family to join us as active members of your care team" data-lang-arabic=" ﻧﻮد أن ﻧﺸﺠﻌﻚ، ﻛﻤﺮﻳﺾ ﻓﻲ ﻣﺴﺘﺸﻔﻰ أﺳﺘﺮ ﺳﻨﺪ، ﻋﻠﻰ اﻟﺘﺤﺪث ﺑﺼﺮاﺣﺔ ﻣﻊ ﻓﺮﻳﻖ اﻟﺮﻋﺎﻳﺔ اﻟﺼﺤﻴﺔ اﻟﺨﺎص ﺑﻚ، واﻟﻤﺸﺎرﻛﺔ ﻓﻲ اﺧﺘﻴﺎرات اﻟﻌﻼج اﻟﺨﺎص ﺑﻚ، وﺗﻌﺰﻳﺰ ﺳﻼﻣﺘﻚ ﻣﻦ ﺧﻼل أن ﺗﻜﻮن ﻋﻠﻰ اﻃﻼع ﺟﻴﺪ واﻟﻤﺸﺎرﻛﺔ ﻓﻲ رﻋﺎﻳﺘﻚ، ﻧﺮﻳﺪ ﻣﻨﻚ أن ﺗﻌﺮف اﻟﺤﻘﻮق وﻛﺬﻟﻚ ﻣﺴﺆوﻟﻴﺎﺗﻚ اﻟﺘﻲ ﺗﻘﻊ ﻋﻠﻰ ﻋﺎﺗﻘﻚ أﺛﻨﺎء ﻣﺪة إﻗﺎﻣﺘﻚ ﻓﻲ اﻟﻤﺴﺘﺸﻔﻰ. ﻧﺪﻋﻮك أﻧﺖ وﻋﺎﺋﻠﺘﻚ ﻟﻼﻧﻀﻤﺎم إﻟﻴﻨﺎ ﻛﺄﻋﻀﺎء ﻧﺸﻄﻴﻦ ﻓﻲ ﻓﺮﻳﻖ اﻟﺮﻋﺎﻳﺔ
">
                        We want to encourage you, as a patient at Aster Sanad Hospital,
                        to speak openly with your healthcare team, take part in your treatment choices,
                        and promote your own safety by being well informed and involved in your care,
                        we want you to know your rights as well as your responsibilities during your stay at our hospital.
                        We invite you and your family to join us as active members of your care team
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5" id="scroll-target">
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center" style="text-align: center; float:initial">
            <div class="col-lg-4 mb-5">
                <div class="h-100 shadow border-5">
                    <img src="~/images/health-insurance.png" height="200" width="200" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="Media" data-lang-arabic="وسائط">Media</div>
                        <h5 class="card-title mb-3 lang-content" data-lang-english="Patient Rights" data-lang-arabic="حقوق المريض">Patient Rights</h5>
                        <p class="card-text mb-0"></p>
                    </div>
                    <div class=" p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="~/images/open.png" alt="..." />
                                <div class="small">
                                    <br /><br />
                                    <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر " href="~/Files/rights.pdf" download="Patient Rights" style="">read more</a>
                                    <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر " href="~/Files/rights1.pdf" download="Patient Rights" style="">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="h-100 shadow border-5">
                    <img src="~/images/responsibility.png"height="200" width="200" alt="..." />
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2 lang-content" data-lang-english="Media" data-lang-arabic="وسائط">Media</div>
                        <a class="text-decoration-none link-dark" ><h5 class="card-title mb-3 lang-content" data-lang-english="Patient Responsibility" data-lang-arabic="مسؤوليات المريض">Patient Responsibility</h5></a>
                        <p class="card-text mb-0"></p>
                    </div>
                    <div class="p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle me-3" src="~/images/open.png" alt="..." />
                                <div class="small">
                                    <br /><br />
                                    <a class="fw-bold lang-content een" data-lang-english="read more" data-lang-arabic="إقرأ أكثر " href="~/Files/respons.pdf" download="Responsibility" style="">read more</a>
                                    <a class="fw-bold lang-content aar" data-lang-english="read more" data-lang-arabic="إقرأ أكثر " href="~/Files/respons1.pdf" download="Responsibility" style="">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>

</div>

