
@{
    ViewBag.Title = "smoking";
}


<div class="shadow border-0 m-5">
    <div class="container">
        <h3 class="lang-content" data-lang-english=" <br /> Smoking Not Allowed" data-lang-arabic=" <br /> التدخين " style="color: #00a883"></h3><br />
        <div class="row gx-5 justify-content-center">
            <div class=" col-xl-6">
                <p class=" lang-content" data-lang-english="To protect the health of our patients, visitors, and staff, it is the policy of Aster Sanad Hospital to prohibit smoking in all areas within the hospital in accordance to Royal Decree No. 7/78 at 11/1/1404H and Ministry of Health regulations.<br /> A designated smoking area exterior to the hospital near the main gate provided as identified by signage.<br />A fine of 200 SAR will be applied for any violation of this policy. <br /> If you are interested in smoking cessation, ask your healthcare provider about resources." data-lang-arabic="ﻟﺤﻤﺎﻳﺔ ﺻﺤﺔ اﻟﻤﺮﺿﻰ واﻟﺰوار واﻟﻤﻮﻇﻔﻴﻦ ﻟﺪﻳﻨﺎ، ﺗﻨﺺ ﺳﻴﺎﺳﺔ ﻣﺴﺘﺸﻔﻰ أﺳﺘﺮ ﺳﻨﺪ ﻋﻠﻰ ﺣﻈﺮ اﻟﺘﺪﺧﻴﻦ ﻓﻲ ﺟﻤﻴﻊ اﻟﻤﻨﺎﻃﻖ داﺧﻞ اﻟﻤﺴﺘﺸﻔﻰ وفقًا للمرسوم الملكي رﻗﻢ 87/7 ﺑﺘﺎرﻳﺦ 4041 ﻫـ 71/01/3981 م  وﻟﻮاﺋﺢ وزارة اﻟﺼﺤﺔ. ﺗﺨﺼﻴﺺ ﻣﻨﻄﻘﺔ ﻟﻠﺘﺪﺧﻴﻦ ﺧﺎرج اﻟﻤﺴﺘﺸﻔﻰ ﺑﺎﻟﻘﺮب ﻣﻦ اﻟﺒﻮاﺑﺔ اﻟﺮﺋﻴﺴﻴﺔ وﺗﺤﺪد ﺑﻮاﺳﻄﺔ اﻟﻼﻓﺘﺎت. ﺗﻄﺒﻖ ﻏﺮاﻣﺔ ﻗﺪرﻫﺎ ٢٠٠  رﻳﺎل ﺳﻌﻮدي ﻋﻦ أي اﻧﺘﻬﺎك ﻟﻬﺬه اﻟﺴﻴﺎﺳﺔ. إذا كنت مهتمًا  بالإﻗﻼع ﻋﻦ اﻟﺘﺪﺧﻴﻦ، ﻓﺎﺳﺄل ﻣﻘﺪم اﻟﺮﻋﺎﻳﺔ اﻟﺼﺤﻴﺔ ﻋﻦ اﻟﻮﺳﺎﺋل.">To protect the health of our patients, visitors, and staff, it is the policy of Aster Sanad Hospital to prohibit smoking in all areas within the hospital in accordance to Royal Decree No. 7/78 at 11/1/1404H and Ministry of Health regulations.<br /> A designated smoking area exterior to the hospital near the main gate provided as identified by signage.<br />A fine of 200 SAR will be applied for any violation of this policy. <br /> If you are interested in smoking cessation, ask your healthcare provider about resources.</p>
                <p><br /></p>

            </div>
            <div class="col-xl-6">
                <div class="text-center">
                    <img src="~/images/no-smoking.png" />
                    <p ><br /></p>
                </div>
            </div>
        </div>
    </div>
</div>
