
@{
    ViewBag.Title = "telephone";
}




<div class="shadow border-0 m-5">

    <div class="container" style="text-align:center">
        <br /><img src="~/images/phone-book.png" style="display:block;" />
        <h2 class="lang-content" data-lang-english="Telephone Directory <br /><br />" data-lang-arabic="دليل الهاتف  <br /><br />" style="color:mediumseagreen;"> Telephone Directory <br /><br /></h2>
        <div class="een">
            <img class="img-fluid img-responsive" src="~/images/tel1.png" />
            <img  class="img-fluid img-responsive" src="~/images/tel2.png" />
            <img  class="img-fluid img-responsive" src="~/images/tel3.png" />
        </div>
        <div class="aar">
            <img class="img-fluid img-responsive" src="~/images/tele1.png" />
            <img class="img-fluid img-responsive" src="~/images/tele2.png" />
            <img class="img-fluid img-responsive" src="~/images/tele3.png" />
        </div>
    </div>
  
</div>