
@{
    ViewBag.Title = "Things";
}


<div class="shadow border-0 m-5">
    <div class="container">

        <section class="py-5" id="features">
            
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0" style="text-align:center">
                        <img src="~/images/file.png" /><h3 class="fw-bolder mb-0 lang-content" data-lang-english="Things You Need To Know About Your Stay" data-lang-arabic="اشياء تحتاج الى معرفتها عن إقامتك ">Things You Need To Know About Your Stay </h3>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100">
                                <div class="feature text-white rounded-3 mb-3"><img src="~/images/bed.png" /></div>
                                <h2 class="h5 lang-content" data-lang-english="Your Room" data-lang-arabic="غرفتك">Your Room </h2>
                                <p class="mb-0 lang-content" data-lang-english="Bedside rails contain controls for the bed and nurse call button. TV remote controls are placed at the bedside table, first drawer.  If you’d like the room temperature adjusted, ask any member of your healthcare team. We urge you to leave your valuables at home." data-lang-arabic="ﺗﺤﺘﻮي ﻗﻀﺒﺎن اﻟﺴﺮﻳﺮ ﻋﻠﻰ أدوات ﺗﺤﻜﻢ وزر اﺳﺘﺪﻋﺎء  اﻟﻤﻤﺮﺿﺔ. ﺗﻮﺿﻊ أدوات اﻟﺘﺤﻜﻢ ﻋﻦ بعد (الريموت ) في اﻟﺘﻠﻔﺰﻳﻮن اﻟﺪرج الاول ﻟﻄﺎوﻟﺔ اﻟﺴﺮﻳﺮ. إذا ﻛﻨﺖ ﺗﺮﻏﺐ ﻓﻲ ﺿﺒﻂ درﺟﺔ ﺣﺮارة اﻟﻐﺮﻓﺔ، ﻓﺎﻃﻠﺐ ﻣﻦ أي ﻋﻀﻮ ﻓﻲ ﻓﺮﻳﻖ اﻟﺮﻋﺎﻳﺔ اﻟﺼﺤﻴﺔ. ﻧﺤﺜﻚ ﻋﻠﻰ ﺗﺮك أﻏﺮاﺿﻚ اﻟﺜﻤﻴﻨﺔ ﻓﻲ ﻣﻨﺰﻟﻚ .">Bedside rails contain controls for the bed and nurse call button. TV remote controls are placed at the bedside table, first drawer.  If you’d like the room temperature adjusted, ask any member of your healthcare team. We urge you to leave your valuables at home.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature text-white rounded-3 mb-3 body-content"><img src="~/images/visitor3.png" /></div>
                                <h2 class="h5 lang-content" data-lang-english="Visiting Hours" data-lang-arabic="ساعات الزيارة ">Visiting Hours</h2>
                                <p class="mb-0 lang-content" data-lang-english="Your care partner or family member is welcome 24 hours a day. Others are from 10:00AM to 10:00PM In critical areas such as Adult Intensive Care Unit (ICU), Pediatric Intensive Care Unit (PICU), Neonatal Intensive Care Unit (NICU), Cardiac Care Unit (CCU), visiting hour is from 4:00PM to 6:00PM." data-lang-arabic=" ﻧﺮﺣﺐ ﺑﺸﺮﻳﻚ اﻟﺮﻋﺎﻳﺔ أو أﺣﺪ أﻓﺮاد أﺳﺮﺗﻚ ﻋﻠﻰ ﻣﺪار ٢٤  ﺳﺎﻋﺔ.
اﻟﺒﻌﺾ الاﺧﺮ ﻣﻦ ١٠:٠٠ ص إﻟﻰ ١٠:٠٠ م
 ﻓﻲ وﺣﺪة اﻟﻌﻨﺎﻳﺔ اﻟﻤﺮﻛﺰة ﻟﻠﺒﺎﻟﻐﻴﻦ  (ICU) ، ووﺣﺪة اﻟﻌﻨﺎﻳﺔ اﻟﻤﺮﻛﺰة للأطفال (PICU)، ووحدة العناية المركزة لحديثي الولادة (UCIN) ، ووﺣﺪة اﻟﻌﻨﺎﻳﺔ اﻟﻘﻠﺒﻴﺔ (CCU) ﺗﻜﻮن ﺳﺎﻋﺔ اﻟﺰﻳﺎرة ﻣﻦ ٠٤:٠٠ ﻣﺴﺎءً  وﺣﺘﻰ ٠٦:٠٠  ﻣﺴﺎءً ">Your care partner or family member is welcome 24 hours a day. Others are from 10:00AM to 10:00PM In critical areas such as Adult Intensive Care Unit (ICU), Pediatric Intensive Care Unit (PICU), Neonatal Intensive Care Unit (NICU), Cardiac Care Unit (CCU), visiting hour is from 4:00PM to 6:00PM.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature text-white rounded-3 mb-3"><img src="~/images/meal.png" /> </div>
                                <h2 class="h5 lang-content" data-lang-english="Patient Meals" data-lang-arabic="وجبات المرضى">Patient Meals</h2>
                                <p class="mb-0 lang-content" data-lang-english="Patient meals are served on the following timings: Breakfast – 6:00AM- 9:00AM Lunch- 12:30PM- 2:30PM Dinner- 6:00PM- 7:30PM." data-lang-arabic="
                                ﺗﻘﺪم وﺟﺒﺎت اﻟﻤﺮﺿﻰ ﻓﻲ الاوﻗﺎت اﻟﺘﺎﻟﻴﺔ:
                                الافطار-  ٦ :٠٠ صباحًا - ٩ :٠٠ صباحاً
                                الغداء - ١٢ :٣٠  مساءًا - ٢ :٣٠  مساءًا
                                العشاء - ٦ :٠٠ مساءًا - ٧ :٣٠  مساءًا"> Patient meals are served on the following timings: Breakfast – 6:00AM- 9:00AM Lunch- 12:30PM- 2:30PM Dinner- 6:00PM- 7:30PM.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature text-white rounded-3 mb-3">
                                    <img src="~/images/medical-care.png" />
                                </div>
                                <h2 class="h5 lang-content" data-lang-english="Need Immediate Attention" data-lang-arabic=" ﺑﺤﺎﺟﺔ إﻟﻰ ﻋﻨﺎﻳﺔ ﻓﻮرﻳﺔ"> Need Immediate Attention </h2>
                                <p class="mb-0 lang-content" data-lang-english="If your family members notice a change in your condition that our staff might not see, they should talk to the nurse right away." data-lang-arabic="إذا ﻻﺣﻆ أﻓﺮاد ﻋﺎﺋﻠﺘﻚ ﺣﺪوث أي ﺗﻐﻴﻴﺮ ﻓﻲ ﺣﺎﻟﺘﻚ اﻟﺘﻲ ﻗﺪ ﻻ ﻳﺮاﻫﺎ ﻣﻮﻇﻔﻮﻧﺎ، ﻓﻴﺠﺐ ﻋﻠﻴﻬﻢ اﻟﺘﺤﺪث ﻣﻊ اﻟﻤﻤﺮﺿﺔ ﻋﻠﻰ اﻟﻔﻮر.">If your family members notice a change in your condition that our staff might not see, they should talk to the nurse right away.</p>
                            </div>
                            <div class="col mb-5 h-100">
                                <div class="feature text-white rounded-3 mb-3">
                                    <img src="~/images/emergency-call.png" />
                                </div>
                                <h2 class="h5 lang-content" data-lang-english="" data-lang-arabic=""> Communication  </h2>
                                <p class="mb-0 lang-content" data-lang-english="A room phone is on the table near your bed.See telephone directory." data-lang-arabic="ﻫﺎﺗﻒ اﻟﻐﺮﻓﺔ ﻋﻠﻰ اﻟﻄﺎوﻟﺔ ﺑﺎﻟﻘﺮب ﻣﻦ ﺳﺮﻳﺮك.اﻧﻈﺮ لدﻟﻴﻞ اﻟﻬﺎﺗﻒ .">A room phone is on the table near your bed. <a href="/Home/telephone">See telephone directory</a> .</p> <a href="/Home/telephone" class="lang-content" data-lang-english="here" data-lang-arabic="من هنا "> here</a>
                            </div>
                        </div>
                    </div>
                </div>
            
        </section>



    </div>
</div>