
@{
    ViewBag.Title = "visiting";
}


<div class="shadow border-0 m-5">
    <div class="container">
        <h3 class="p-2 lang-content" data-lang-english="<br /> Visiting Guidelines <br />" data-lang-arabic="<br/> ارشادات الزيارة <br/>" style="color: #00a883">
            <br /> Visiting Guidelines <br />
        </h3>
       
            <img class="img-responsive img-fluid" src="~/images/visitor11.png" style="height:200px" />
        
        <p class="p-3 lang-content" data-lang-english="Aster Sanad Hospital  believes that family and friends have an important role in the patient’s care.<br/>Our visiting guidelines are designed to promote safety and security among patient, family, and staff<br />while providing high quality patient centered care.For the comfort of all patients, we ask that you limityour visitors<br />(2 per patient in semi-private rooms;up to 4 in private rooms; 1 in critical units).<br />
        Each unit nurse manager reserves the right to further limit the number of visitors based on the needs of their patients.<br />
        For your child’s health and the comfort of our patients, we request that young children be cared for at home.<br />
        Visits by children under the age of 12 should be pre-approved by the unit nurse manager.<br />
        It is expected that visitors will:"
    data-lang-arabic="ﺗﻌﺘﺒﺮ ﻣﺴﺘﺸﻔﻰ أﺳﺘﺮ ﺳﻨﺪ أن الاﺳﺮة والاﺻﺪﻗﺎء دورًا مهمًا ﻓﻲ رﻋﺎﻳﺔ اﻟﻤﺮﻳﺾ. أﻋﺪت إرﺷﺎدات اﻟﺰﻳﺎرة اﻟﺨﺎﺻﺔ ﺑﻨﺎ ﻟﺘﻌﺰﻳﺰ اﻟﺴﻼﻣﺔ والاﻣﻦ ﺑﻴﻦ اﻟﻤﺮﻳﺾ والاﺳﺮة واﻟﻤﻮﻇﻔﻴﻦ ﻣﻊ ﺗﻮﻓﻴﺮ رﻋﺎﻳﺔ ﻋﺎﻟﻴﺔ اﻟﺠﻮدة ﺗﺘﻤﺤﻮر ﺣﻮل اﻟﻤﺮﻳﺾ.
 ﻟﺮاﺣﺔ ﺟﻤﻴﻊ اﻟﻤﺮﺿﻰ، ﻧﻄﻠﺐ ﻣﻨﻚ ﺗﺤﺪﻳﺪ اﻟﺰوار  (ﺷﺨﺼﻴﻦ ﻟﻜﻞ ﻣﺮﻳﺾ ﻓﻲ ﻏﺮف ﺷﺒﻪ ﺧﺎﺻﺔ؛ ﺑﺤﺪ أﻗﺼﻰ 2 ﻓﻲ اﻟﻐﺮف اﻟﺨﺎﺻﺔ؛ ﺷﺨﺺ واﺣﺪ ﻓﻲ وﺣﺪة اﻟﻌﻨﺎﻳﺔ اﻟﺤﺮﺟﺔ ). ﻟﺪى ﻣﺪﻳﺮ وﺣﺪة التمريض  اﻟﺤﻖ ﻓﻲ اﻟﺤﺪ ﻣﻦ ﻋﺪد اﻟﺰاﺋﺮﻳﻦ ﺑﻨﺎء ﻋﻠﻰ اﺣﺘﻴﺎﺟﺎت ﻣﺮﺿﺎﻫﻢ. ﻧﺮﺟﻮ رﻋﺎﻳﺔ الاﻃﻔﺎل اﻟﺼﻐﺎر ﻓﻲ اﻟﻤﻨﺰل, لإﺟﻞ ﺻﺤﺔ اﻟﻄﻔﻞ وراﺣﺔ اﻟﻤﺮﺿﻰ ، ﻳﺠﺐ اﻟﻤﻮاﻓﻘﺔ اﻟﻤﺴﺒﻘﺔ ﻋﻠﻰ زﻳﺎرات الاطفال دون ١٢ عام من قبل مدير وحدة التمريض .
ﻣﻦ اﻟﻤﺘﻮﻗﻊ أن ﻳﻘﻮم اﻟﺰوار ﺑﻤﺎ ﻳﻠﻲ:<img src="~/images/visitor11.png" />">

        Aster Sanad Hospital  believes that family and friends have an important role in the patient’s care.<br />
        Our visiting guidelines are designed to promote safety and security among patient, family, and staff

        while providing high quality patient centered care.For the comfort of all patients, we ask that you limityour visitors<br />
        (2 per patient in semi-private rooms;up to 4 in private rooms; 1 in critical units).<br />
        Each unit nurse manager reserves the right to further limit the number of visitors based on the needs of their patients.<br />
        For your child’s health and the comfort of our patients, we request that young children be cared for at home.<br />
        Visits by children under the age of 12 should be pre-approved by the unit nurse manager.<br />
        It is expected that visitors will:
    </p>

        <ul class="lang-content" data-lang-english="<li>Not visit if they are sick</li>
        <li>Comply with designated visiting guidelines</li>
        <li>Clean hands before and after visiting</li>
        <li>Comply with any infection control practices that may be important to the patient’s condition<br />
        (e.g., wear isolation gown, mask and/or gloves)</li>
        <li>Comply with safety and security procedures</li>
        <li>Act in respectful manner </li>
        <li>Not allow children under 12 years of age visit without staff authorization</li>
        <li>Smoke only in designated areas outside of the hospital</li>
        <li>Not take photographs or video without prior patient and hospital authorization</li>" data-lang-arabic="<li>ﻋﺪم اﻟﺰﻳﺎرة إذا ﻛﺎﻧﻮا ﻣﺮﺿﻰ.</li>
        <li>اﻻﻟﺘﺰام ﺑﺈرﺷﺎدات اﻟﺰﻳﺎرة اﻟﻤﺤﺪدة.</li>
        <li>ﻏﺴﻞ اﻟﻴﺪﻳﻦ ﻗﺒﻞ وﺑﻌﺪ اﻟﺰﻳﺎرة. </li>
        <li>
            اﻻﻣﺘﺜﺎل لإﻳﺔ ﻣﻤﺎرﺳﺎت ﻟﻤﻜﺎﻓﺤﺔ اﻟﻌﺪوى واﻟﺘﻲ ﻗﺪ ﺗﻜﻮن ﻣﻬﻤﺔ ﻟﺤﺎﻟﺔ اﻟﻤﺮﻳﺾ )ﻋﻠﻰ ﺳﺒﻴﻞ اﻟﻤﺜﺎل، ارﺗﺪاء ﺛﻮب اﻟﻌﺰل واﻟﻘﻨﺎع و/أو اﻟﻘﻔﺎزات(.
        </li>
        <li>اﻻﻟﺘﺰام ﺑﺈﺟﺮاءات اﻟﺴﻼﻣﺔ والاﻣﻦ</li>
        <li>اﻟﺘﺼﺮف ﺑﻄﺮﻳﻘﺔ ﻣﺤﺘﺮﻣﺔ. </li>
        <li>ﻋﺪم اﻟﺴﻤﺎح للأﻃﻔﺎل دون ﺳﻦ ١٢  ﺳﻨﺔ ﺑﺎﻟﺰﻳﺎرة دون إذن ﻣﻦ اﻟﻤﻮﻇﻔﻴﻦ .</li>
        <li>اﻟﺘﺪﺧﻴﻦ ﻓﻲ اﻟﻤﻨﺎﻃﻖ اﻟﻤﺨﺼﺼﺔ ﺧﺎرج اﻟﻤﺴﺘﺸﻔﻰ ﻓﻘﻂ .</li>
        <li>ﻻ ﺗﻠﺘﻘﻂ اﻟﺼﻮر أو اﻟﻔﻴﺪﻳﻮ دون إذن ﻣﺴﺒﻖ ﻣﻦ اﻟﻤﺮﻳﺾ أو اﻟﻤﺴﺘﺸﻔﻰ .</li>">
        <li>Not visit if they are sick</li>
        <li>Comply with designated visiting guidelines</li>
        <li>Clean hands before and after visiting</li>
        <li>Comply with any infection control practices that may be important to the patient’s condition<br />
        (e.g., wear isolation gown, mask and/or gloves)</li>
        <li>Comply with safety and security procedures</li>
        <li>Act in respectful manner </li>
        <li>Not allow children under 12 years of age visit without staff authorization</li>
        <li>Smoke only in designated areas outside of the hospital</li>
        <li>Not take photographs or video without prior patient and hospital authorization</li>
    </ul>
        <p class="p-3 lang-content" data-lang-english="In response to a visitor who has displayed unacceptable behaviors of any kind,<br />
        security measures including visitor restriction and/or legal action will be taken.<br />
        Unacceptable behaviors include but are not limited to:" data-lang-arabic="ردًا ﻋﻠﻰ اﻟﺰاﺋﺮ اﻟﺬي أﻇﻬﺮ ﺳﻠﻮﻛًا ﻏﻴﺮ ﻣﻘﺒﻮل ﻣﻦ أي ﻧﻮع، ﺗﺘﺨﺬ  ﺗﺪاﺑﻴﺮ أﻣﻨﻴﺔ ﺑﻤﺎ ﻓﻲ ذﻟﻚ ﺗﻮﻗﻴﻒ اﻟﺰاﺋﺮ و / أو ﻏﻴﺮ ذﻟﻚ ﻣﻦ الاﺟﺮاءات اﻟﻘﺎﻧﻮﻧﻴﺔ . ﺗﺸﻤﻞ اﻟﺴﻠﻮﻛﻴﺎت ﻏﻴﺮ اﻟﻤﻘﺒﻮﻟﺔ ﻋﻠﻰ ﺳﺒﻴﻞ اﻟﻤﺜﺎل ﻻ اﻟﺤﺼﺮ :
">
        In response to a visitor who has displayed unacceptable behaviors of any kind,<br />
        security measures including visitor restriction and/or legal action will be taken.<br />
        Unacceptable behaviors include but are not limited to:
    </p>

        <ul class="lang-content" data-lang-english="<li> Unreasonable interference with a patient’s plan of care </li>
        <li>Harassment of any kind </li>
        <li>Use of loud, threatening, abusive or obscene language</li>
        <li> Offensive remarks of racial, sexual or personally derogatory nature</li>
        <li>Use of physical violence or act in a threatening manner towards staff </li>
        <li>Damage to hospital property</li>
        <li>Theft</li>
        <li>Possession of weapons or firearms </li>
        <li>Retaliation against any person who addresses or reports unacceptable behavior</li>
        <li>Excessive noise that is obstructive to others in the vicinity<br /> <br /></li>" data-lang-arabic="<li> ﺗﺪﺧﻞ ﻏﻴﺮ ﻣﻘﺒﻮل ﻓﻲ ﺧﻄﺔ رﻋﺎﻳﺔ اﻟﻤﺮﻳﺾ . </li>
        <li>اﻟﺘﺤﺮش ﻣﻦ أي ﻧﻮع . </li>
        <li>اﺳﺘﺨﺪام ﻧﺒﺮة ﻋﺎﻟﻴﺔ أو ﻟﻐﺔ ﺗﻬﺪﻳﺪﻳﺔ أو ﻣﺴﻴﺌﺔ أو ﺑﺬﻳﺌﺔ  .</li>
        <li>ملاحظات مسيئة ذات طابع عنصري أو جنسي أو مهين شخصيًا .</li>
        <li>اﺳﺘﺨﺪام اﻟﻌﻨﻒ اﻟﺠﺴﺪي أو ﺗﻬﺪﻳﺪ اﻟﻤﻮﻇﻔﻴﻦ . </li>
        <li>إﻟﺤﺎق اﻟﻀﺮر ﺑﻤﻤﺘﻠﻜﺎت اﻟﻤﺴﺘﺸﻔﻰ .</li>
        <li>السرقة . </li>
        <li>حيازة أسلحة نارية .  </li>
        <li>اﻻﻧﺘﻘﺎم ﻣﻦ أي ﺷﺨﺺ ﻳﻌﺎﻟﺞ أو ﻳﺒﻠﻎ ﻋﻦ ﺳﻠﻮك ﻏﻴﺮ ﻣﻘﺒﻮل .</li>
        <li>اﻟﻀﻮﺿﺎء اﻟﻤﻔﺮﻃﺔ اﻟﺘﻲ ﺗﻌﻴﻖ الاﺧﺮﻳﻦ ﻓﻲ اﻟﻤﻨﻄﻘﺔ اﻟﻤﺠﺎورة.<br /> <br /></li>">
        <li> Unreasonable interference with a patient’s plan of care </li>
        <li>Harassment of any kind </li>
        <li>Use of loud, threatening, abusive or obscene language</li>
        <li> Offensive remarks of racial, sexual or personally derogatory nature</li>
        <li>Use of physical violence or act in a threatening manner towards staff </li>
        <li>Damage to hospital property</li>
        <li>Theft</li>
        <li>Possession of weapons or firearms </li>
        <li>Retaliation against any person who addresses or reports unacceptable behavior</li>
        <li>Excessive noise that is obstructive to others in the vicinity<br /> <br /></li>
    </ul>
    </div>
</div>