
@{
    ViewBag.Title = "wifi";
}

<div class="shadow border-0 m-5">
    <div class="container">
        <div style="display:inline-block; float:inline-start">
            <img src="~/images/wifi (1).png" />
        </div>
        <h3 style="color:mediumseagreen" class="lang-content" data-lang-english="<br/> Free WiFi <br /> " data-lang-arabic="<br/>واي فاي مجاناَ<br/>">
            <br />
            Free WiFi <br />
        </h3>
        <p class="p-3 lang-content" data-lang-english="Complimentary wireless internet access is available to patients and visitors for smart phones and tablets. <br />Follow the below instructions:
" data-lang-arabic="        ﺧﺪﻣﺔ االاﻧﺘﺮﻧﺖ اﻟﻼﺳﻠﻜﻲ اﻟﻤﺠﺎﻧﻴﺔ ﻣﺘﺎﺣﺔ ﻟﻠﻤﺮﺿﻰ واﻟﺰوار ﻟﻠﻬﻮاﺗف اﻟﺬﻛﻴﺔ والاﺟﻬﺰة اﻟﻠﻮﺣﻴﺔ.  <br />اﺗﺒﻊ اﻟﺘﻌﻠﻴﻤﺎت اﻟﺘالية :
">
            Complimentary wireless internet access is available to patients and visitors for smart phones and tablets. <br />Follow the below instructions:
        </p>
        <ul class="lang-content" data-lang-english="<li>Connect to Aster Sanad Guest WIFI</li>
        <li>You will be redirected to Aster Sanad Facebook page </li>
        <li>Check-in at the Aster Sanad Facebook page</li>
        <li>Once checked-in, you will have an access to the internet.<br /><br /></li>" data-lang-arabic="<li>ﻗﻢ ﺑﺎﻟﺮﺑﻂ ﻋﻠﻰ ﺷﺒﻜﺔ أﺳﺘﺮ ﺳﻨﺪ اﻟﻮاي ﻓﺎي (Aster Sanad Guest WIFI)</li>
        <li>ﺳﻴﺘﻢ ﺗﻮﺟﻴﻬﻚ إﻟﻰ ﺻﻔﺤﺔ أﺳﺘﺮ ﺳﻨﺪ ﻟﻠﻔﻴﺴﺒﻮك . </li>
        <li>ﻗﻢ ﺑﺘﺴﺠﻴﻞ اﻟﺪﺧﻮل ﻟﻬﺬه اﻟﺼﻔﺤﺔ .</li>
        <li>ﺑﻤﺠﺮد ﺗﺴﺠﻴﻞ اﻟﺪﺧﻮل ، ﺳﺘﺘﻤﻜﻦ ﻣﻦ الاﺗﺼﺎل ﺑﺎلاﻧﺘﺮﻧﺖ .<br /><br /></li>">
        <li>Connect to Aster Sanad Guest WIFI</li>
        <li>You will be redirected to Aster Sanad Facebook page </li>
        <li>Check-in at the Aster Sanad Facebook page</li>
        <li>Once checked-in, you will have an access to the internet.<br /><br /></li>
    </ul>

    </div>
</div>
